<!DOCTYPE html>
<html lang="en">
<head>
      <meta charset="UTF-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>CineMAGIC | Contact</title>
      <link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
      <div class="menu">
            <img src="Images\CINEMAGICLOGO.png" style="height: 150px;position: absolute; left: 150px;  ">
            <div style="position: absolute; left: 25vw;">
                <ul>
                    <li> <a href="home.html" class="linkitems">Acasa</a> </li> 
                    <li> <a href="news.html" class="linkitems">Noutati  </a> </li>
                    <li> <a href="reserve.html" class="linkitems"> Rezervare locuri </a> </li>
                    <li> <a href="contact.html" class="linkitems"> Contact </a></li>
                </ul>
            </div>
        </div>
        <div style="padding: 100px"></div>

        <div class="contactdetails">
            <h3>In cazul unor nelamuriri, va rugam sa ne contactati la :</h3>
            <h3>Email : georgiana.galea@student.upt.ro</h3>
            <h3>Telefon : 0254 437 235 / 0252 426 218</h3>
        </div>



        <script src="newscript.js"></script>
</body>
</html>