<!DOCTYPE html>
<html lang="en">
<head>
      <meta charset="UTF-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>CineMAGIC | Contact</title>
      {% load static %}
     <link rel="stylesheet" href="{% static 'styles/main.css' %}">
    <link rel="stylesheet" href="{% static 'styles/style.css' %}">
    <script src="{% static 'scripts/homescript.js' %}" defer></script>
</head>
<body>
      <div class="menu">
        <img src="{% static 'media/CINEMAGICLOGO.png' %}" style="height: 150px;position: absolute; left: 150px;  ">
        <div style="position: absolute; left: 25vw;">
            <ul>
                <li> <a href="{% url 'home' %}" class="linkitems">Acasa</a> </li> 
                <li> <a href="{% url 'news' %}" class="linkitems">Noutati  </a> </li>
                {% if user.userprofile.role == 'client' %}
                    <li> <a href="{% url 'reserve' %}" class="linkitems"> Rezervare locuri </a> </li>
                    <li> <a href="{% url 'contact' %}" class="linkitems"> Contact </a></li>
                {% else %}
                    <li><a href="{% url 'add_film' %}" class="linkitems">Adauga Film</a></li>
                {% endif %}
                <li><form method="post" action="{% url 'logout' %}">
                    {% csrf_token %}
                    <button type="submit">Logout</button>
                </form></li>
            </ul>
        </div>
    </div>
        <div style="padding: 100px"></div>

        <div class="contactdetails">
            <h3>In cazul unor nelamuriri, va rugam sa ne contactati la :</h3>
            <h3>Email : georgiana.galea@student.upt.ro</h3>
            <h3>Telefon : 0254 437 235 / 0252 426 218</h3>
        </div>



        <script src="newscript.js"></script>
</body>
</html>