<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CineMAGIC | Noutati</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'styles/main.css' %}">
    <link rel="stylesheet" href="{% static 'styles/style.css' %}">
    <script src="{% static 'scripts/homescript.js' %}" defer></script>
</head>
<body>
    <div class="menu">
        <img src="{% static 'media/CINEMAGICLOGO.png' %}" style="height: 150px;position: absolute; left: 150px;  ">
        <div style="position: absolute; left: 25vw;">
            <ul>
                <li> <a href="{% url 'home' %}" class="linkitems">Acasa</a> </li> 
                <li> <a href="{% url 'news' %}" class="linkitems">Noutati  </a> </li>
                {% if user.userprofile.role == 'client' %}
                    <li> <a href="{% url 'reserve' %}" class="linkitems"> Rezervare locuri </a> </li>
                    <li> <a href="{% url 'contact' %}" class="linkitems"> Contact </a></li>
                {% else %}
                    <li><a href="{% url 'add_film' %}" class="linkitems">Adauga Film</a></li>
                {% endif %}
                <li><form method="post" action="{% url 'logout' %}">
                    {% csrf_token %}
                    <button type="submit">Logout</button>
                </form></li>
            </ul>
        </div>
    </div>

    <div style="padding: 70px;"></div>
    <h1 style="color: white; text-align: center; font-family: monospace;font-size: 40px;">COMING SOON</h1>
    <table class="newstable">
        <tr>
            <td>
                <h2 class="newsfilmtitle"> OPPENHEIMER</h2>
            </td>
            <td>
                <h2 class="newsfilmtitle"> BLUE BETTLE</h2>
            </td>
            <td class="excludedtd">
                <h2 class="newsfilmtitle"> THE CREATOR</h2>
            </td>
        </tr>
        <tr>
            <td>
                <div class="newstabledim">
                    <img src="{% static 'media/Oppenheimer.jpg' %}" class="newfilmpic">
                </div>
            </td>
            <td>
                <div class="newstabledim">
                    <img src="{% static 'media/BlueBettle.jpeg' %}" class="newfilmpic">
                </div>
            </td>
            <td class="excludedtd">
                <div class="newstabledim">  
                    <img src="{% static 'media/TheCreator.jpeg' %}" class="newfilmpic">
                </div>
            </td>
        </tr>
        <tr>
            <td class="newstablespacer">
                <h2 class="labeldescr">Descriere</h2>
            </td>
            <td>
                <h2 class="labeldescr">Descriere</h2>
            </td>
            <td class="excludedtd">
                <h2 class="labeldescr">Descriere</h2>
            </td>
        </tr>
        <tr>
            <td>
                <p>&nbsp &nbsp &nbspPhysicist J Robert Oppenheimer works with a team of scientists 
                   during the Manhattan Project, leading to the development of the atomic bomb.</p>
            </td>
            <td>
                <p>&nbsp &nbsp &nbspJaime Reyes suddenly finds himself in possession of an ancient relic of alien biotechnology called the Scarab. 
                    When the Scarab chooses Jaime to be its symbiotic host, he's bestowed with an incredible suit of armor that's 
                    capable of extraordinary and unpredictable powers, forever changing his destiny as he becomes the superhero Blue Beetle.</p>
            </td>
            <td class="excludedtd">
                <p>Amid a future war between the human race and the forces of artificial intelligence, Joshua, a hardened ex-special forces agent 
                    grieving the disappearance of his wife, is recruited to hunt down and kill the Creator, the elusive architect of advanced AI who 
                    has developed a mysterious weapon with the power to end the war—and humankind itself.</p>
            </td>
        </tr>
        <tr>
            <td>
                <h2 class="labeldescr">Gen</h2>
            </td>
            <td>
                <h2 class="labeldescr">Gen</h2>
            </td>
            <td class="excludedtd">
                <h2 class="labeldescr">Gen</h2>
            </td>
        </tr>
        <tr>
            <td>
                <h2 style="text-align: center; color: white; font-family: monospace;">Biography | History | Drama</h2>
            </td>
            <td>
                <h2 style="text-align: center; color: white; font-family: monospace;">Actiune | Avnetura | Sci-Fi</h2>
            </td>
            <td class="excludedtd">
                <h2 style="text-align: center; color: white; font-family: monospace;">Actiune | Avnetura | Drama</h2>
            </td>
        </tr>
        <tr>
            <td>
                <h2 class="labeldescr">Release date</h2>
            </td>
            <td>
                <h2 class="labeldescr">Release date</h2>
            </td>
            <td class="excludedtd">
                <h2 class="labeldescr">Release date</h2>
            </td>
        </tr>
        <tr>
            <td>
                <h2 style="text-align: center; color: white; font-family: monospace;">JULY 21, 2026</h2>
            </td>
            <td>
                <h2 style="text-align: center; color: white; font-family: monospace;">AUGUST 18, 2026</h2>
            </td>
            <td class="excludedtd">
                <h2 style="text-align: center; color: white; font-family: monospace;">SEPTEMBER 23, 2026</h2>
            </td>
        </tr>
    </table>

    <script src="newscript.js"></script>
</body>
</html>